#title {
    position: relative;
    width: 90%;
    margin-left: 20%;
    top: 0;
}

#bowtitle {
    width: 30%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#fadeouttitle {
    width: 100%;
    max-width: 1500px;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    background: white;
}

.fixdis {
    position: fixed;
    top: 0;
    margin-top: 0;
}

.img-container {
    position: relative;
    margin-top: 40px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.img-container img {
    width: 100%;
}

.coverdis {
    background-color: rgba(255,255,255,.89);
        /*background-color: rgba(255, 138, 101, 0.89);*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.coverdis:hover {
    opacity: 1;
    cursor: url("cssimages/cursor.png") 25 25, auto;
}

.bigim {
    position: relative;
    height: auto;
    margin-bottom: 40px;
}

.hovertitle {
    text-align: left;
    font-size: 30px;
    font-weight: 500;
    margin-left: -100px;
    transition: all 300ms 100ms;
}

.hovertext {
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 200px;
    transition: all 300ms 100ms;
}

.hovert {
    color: #616161;
    position: absolute;
    width: 100%;
    bottom: 100px;
}

.coverdis:hover .hovertitle {
    margin-left: 100px;
}

.coverdis:hover .hovertext {
    margin-left: 50px;
}

#popupX {
    transition: all 300ms 100ms;
    position: absolute;
    width: 0px;
    margin-top: 40px;
    margin-left: 50%;
    transform: translate(-50%);
}

.coverdis:hover #popupX {
    width: 10%
}

nav li {
    cursor: pointer;
}

p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
}

.biop,
.bioa {
    font-size: 22px;
}

.bioa:hover {
    cursor: pointer;
    text-decoration: none;
}

.abouth1 {
    font-size: 32px;
}

em.name {
    font-style: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 26px;
}


/*.navbar-fixed-top {
    position: relative;
    margin-top: 20px;
}*/

.invisible {
    display: none;
}

.navbar-fixed-top {
    margin-top: 0px!important;
}

.spacedis {
    margin-top: 92px;
}

#mobilebow {
    width: 32px;
    position: absolute;
    left: 50%;
    margin-left: -25px !important;
    margin-top: 6px;
    display: none;
}

#navbar {
    padding-left: 0;
    padding-right: 0;
}

.theim {
    opacity: .3;
}


/*Changing the Styling here */

.navbar-inverse {
    background-color: #616161;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border:none;
}
div#fadeouttitle {
    background-color: #ffffff;
}
.navbar-inverse .navbar-nav>.active>a {
    background-color: #424242;
    color:#BDBDBD;
}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
    background-color: #424242;
    color:#BDBDBD;
}
.navbar-inverse .navbar-nav>li>a {
    color: #eeeeee;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #BDBDBD;
}

.navbar-nav>li>a{
    transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
}

html {
       overflow-y: scroll!important;
}

#headerGraphic {
    height: 360px;
    background: url(cssimages/Comp-1.gif);
    background-repeat: no-repeat;
    background-position: center;
}

/*MOBILE STUFF GOES HERE*/

@media screen and (max-width:760px) {
    .aboutcontainer {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    #bowtitle {
        display: none;
    }
    #title {
        margin-left: 0%;
        width: 100%;
    }
    .hovert {
        bottom: 50px;
    }
    .hovertitle {
        text-align: left;
        font-size: 22px;
    }
    .hovertext {
        font-size: 15px;
    }
    #mobilebow {
        display: block;
    }
    #fadeouttitle {
        display: none;
    }
    .img-container {
        margin-top: 92px;
    }
    .theim {
        opacity: 1;
    }
}