
a{
    color:#337ab7;
}
#title {
    position: relative;
    width: 90%;
    margin-left: 20%;
    top: 0;
}

#bowtitle {
    width: 30%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#fadeouttitle {
    width: 100%;
    max-width: 1500px;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    background: white;
}

.fixdis {
    position: fixed;
    top: 0;
    margin-top: 0;
}

.img-container {
    position: relative;
    margin-top: 40px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.img-container img {
    width: 100%;
        border-radius: 2px;
}

.coverdis {
    background-color: rgba(255,255,255,.89);
        /*background-color: rgba(255, 138, 101, 0.89);*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity .7s ease-in-out;
    -moz-transition: opacity .7s ease-in-out;
    -webkit-transition: opacity .7s ease-in-out;
}

.bigim {
    position: relative;
    height: auto;
    margin-bottom: 40px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

nav li {
    cursor: pointer;
}

p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
}

.biop,
.bioa {
    font-size: 22px;
}

.bioa:hover {
    cursor: pointer;
    text-decoration: none;
}

.abouth1 {
    font-size: 32px;
}

em.name {
    font-style: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 26px;
}


/*.navbar-fixed-top {
    position: relative;
    margin-top: 20px;
}*/

.invisible {
    display: none;
}

.navbar-fixed-top {
    margin-top: 0px!important;
    min-height:64px;
}
.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 64px;
}

.spacedis {
    margin-top: 92px;
}

#mobilebow {
    width: 32px;
    position: absolute;
    left: 50%;
    margin-left: -25px !important;
    margin-top: 6px;
    display: none;
}

#navbar {
    padding-left: 0;
    padding-right: 0;
}
/*Changing the Styling here */

.navbar-inverse {
    background-color: rgb(66, 133, 244);
    border:none;
}
div#fadeouttitle {
    background-color: #ffffff;
}
.navbar-inverse .navbar-nav>.active>a {
    background-color: inherit;
    color:#ffffff;
    border-bottom:2px solid #fff;
}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
    background-color: inherit;
    color:#ffffff;
}
.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #ffffff;
    border-bottom:2px solid rgba(255,255,255,.5);
}

.navbar-nav>li>a{
    transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
}

html {
       overflow-y: scroll!important;
}

#headerGraphic {
    height: 255px;
    background: rgb(66, 133, 244);
    background-repeat: no-repeat;
    background-position: center;
}

.bigim .moreInfo{
   background: #FFFFFE!important;
   color: #757473!important;
   position: absolute;
       bottom:20px;
    right:20px;
   box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)!important;
        transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}
.bigim .moreInfo:hover, .bigim .moreInfo:active, .bigim .moreInfo:focus{
    background: #FFFFFE;
}
.open .moreInfo{
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)!important;
}
.mobile.open .moreInfo{
    right: 0px;
    bottom:0px;
    height:100%;
    width:100%;
    border-radius:0px;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */t
}

.hovert {
    position: absolute;
    top: 10px;
    width: 380px;
    background: #f5f5f5;
    bottom:10px;
    left:-380px;
    padding:15px;
     transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}
.hovert p{
    font-size: 20px;
}
.open .hovert{
    left:10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.open.mobile .hovert{
    left:10px;
    box-shadow: none;
}
.textContain{
    text-align: left;
    color:#333;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.mobile.open .textContain{
    background:#f5f5f5;
}
.fakeShadow{
    background-image: url(../images/shadow.png);
    background-repeat: repeat-x;
    background-size: 1px 12px;
    height: 12px;
    position: absolute;
    bottom: -12px;
    right: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
}
#theGraphic {
    background-image: url(../images/logo.svg);
    width: 450px;
    height: 191px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 64px;
    float: right;
    margin-right: 60%;
}
.navbar-brand{
    display: none;
    width:223px;
        padding: 13px 15px;
}




/*MOBILE STUFF GOES HERE*/

@media screen and (max-width:760px) {
    .aboutcontainer {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    #bowtitle {
        display: none;
    }
    #title {
        margin-left: 0%;
        width: 100%;
    }
    .hovert {
        bottom: 50px;
    }
    .hovertitle {
        text-align: left;
        font-size: 30px;
    }
    .hovertext {
        font-size: 15px;
    }
    #mobilebow {
        display: block;
    }
    #fadeouttitle {
        display: none;
    }
    .theim {
        opacity: 1;
    }
    #theGraphic{
        display: none;
    }
    .fakeShadow{
        display: none;
    }
    #fakeShadow{
        top:64px;
        display:block;
        opacity: 1;
    }
    #headerGraphic {
        height:64px;
}
}