#title{
	position:absolute;
	width: 30%;
	margin-left: 20%;
	top:0;
	padding-top: 40px;
}
#bowtitle{
	position:absolute;
	top:0;
	width: 10%;
    margin-left: 70%;
    padding-top: 130px
}
.navbar-fixed-top {
    position: absolute;
    top:420px;
}
.img-container{
	height:5000px;
}
.fixdis{
	position:fixed;
	top:0;
}
.img-container{
	position: relative;
	margin-top: 580px;
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}